label{
  display:block;
  margin: 10px 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: #D3D3D3;
    padding: 20px;
}

footer {
    background-color: #D3D3D3;
    padding: 20px;
}

main {
    flex: 1;
    padding: 20px;
}
h1{
  padding-right: 10px;
  color:
}
